<p ng-if="vm.stations.length == 0"><strong>Loading...</strong></p>

<div ng-repeat="station in vm.stations">
	<h2>{{ station.name }} ({{ station.number }}) <small><a ng-click="vm.favorite(station)">+ Add to favorites</a></small></h2>

	<table>
		<tr>
			<th>#</th>
			<th>Direction</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="bus in station.buses">
			<td>{{ bus.number }}</td>
			<td>{{ bus.direction }}</td>
			<td ng-if="bus.arrivals.length > 0">{{ bus.arrivals }}</td>
			<td ng-if="bus.arrivals.length == 0">Ni prihodov.</td>
		</tr>
	</table>
	<br />
</div>

<br />

<pre>{{ vm.json }}</pre>
