body {
	margin: 0px;
	padding: 0px;
}

a[ng-click] {
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}

li {
	margin-bottom: 10px;
}

a:hover {
	color: white;
}

th {
	text-align: left;
}

td {
	padding-right: 50px;
}

.top {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 75px;
	background-color: #9E6AB0;
	text-align: center;
}

.left {
	position: absolute;
	left: 0px;
	top: 75px;
	bottom: 0px;
	width: 200px;
	background-color: #7CB06A;
	overflow-y: auto;
}

.main {
	position: absolute;
	left: 200px;
	top: 75px;
	right: 0px;
	bottom: 0px;
	background-color: #6A9FB0;
	padding: 20px;
	overflow-y: auto;
}
